[2015-06-02 15:11] chrisbrantley opened #2 "Define project name in Vagranfile vagrant-docker-compose configuration."
I'm not crazy about the "vagrant_" prefix for every container. Is it possible to override that in the vagrantfile?

[2015-06-03 15:08] leighmcculloch commented on #2
@chrisbrantley This isn't something provided by vagrant-docker-compose, but it is possible.

The prefix on the container is based off the directory your Vagrantfile lives in. e.g. if my project is in a folder called `example`, it's going to look like this in VirtualBox.
![screen shot 2015-06-03 at 8 05 55 am](https://cloud.githubusercontent.com/assets/351529/7963420/7dcb7ae8-09c7-11e5-9aa8-fea4d23

[2015-06-03 15:15] chrisbrantley commented on #2
@leighmcculloch Thanks for the reply.

I also found that docker-compose will use an environment variable (COMPOSE_PROJECT_NAME) so I added the following to my Vagrantfile

[code]

This works, albeit a little clunky.

[2015-06-03 15:19] leighmcculloch commented on #2
Ahh, I misunderstood your question. You're wanting to rename the prefix of the docker images that are inside the vagrant instance. I think I can add setting the docker-compose project name as a configuration value of `vagrant-docker-compose` so that you don't need to have the repetitive shell inline in each of your projects. I'll get back to you when it's in the next version of this.

[2015-06-03 15:39] chrisbrantley commented on #2
Thank you. I'm sorry if my question wasn't clear.  Having a setting on the vagrant-docker-compose configuration would be very handy and much cleaner.

[2015-06-04 07:35] leighmcculloch commented on #2
This is in version `0.0.3` now, just add a `project_name` parameter to the docker_compose provision statement. See `example/Vagrantfile`.

[2015-06-04 07:35] #2 closed

[2015-06-28 18:13] ahasha opened #3 "vagrant up fails"
Due to this issue: https://github.com/mitchellh/vagrant/issues/5697.

Adding
[code]

before the docker provisioner statement fixes it for me.

Here's the detailed error message, for reference:

[code]

[2015-07-02 03:22] EIrwin opened #4 "Installing vagrant-docker-compose plugin fails"
I get the following error when running the vagrant plugin install command...

[code]

[code]

[2015-07-02 05:00] leighmcculloch commented on #4
@EIrwin can run `gem install ffi -v '1.9.10'` and share the output?

[2015-07-07 04:22] leighmcculloch commented on #4
@EIrwin alternatively can you try installing another vagrant plugin to rule out whether it's a general plugin installation issue or an issue with this plugin? e.g. try installing vagrant-exec if you don't have it.

[2015-07-07 04:26] leighmcculloch commented on #3
`sudo apt-get update` is a good work around for now, this has been fixed properly in version 1.7.3 of vagrant according to the [changelog](https://github.com/mitchellh/vagrant/blob/e4db962073edb92f40823d51fb43aa4e8aa212bb/CHANGELOG.md) which is yet to be released. Closing in anticipation. Thanks @ahasha.

[2015-07-07 04:26] #3 closed

[2015-07-23 05:37] toedter opened #6 "Copy files from a mounted directory to a Docker image"
My use case is:
I would like to copy files from a mounted directory (in Vagrantfile) to a Docker image.

Vagrantfile:
config.vm.synced_folder "./services", "/services", create: true

Dockefile:
COPY services/myapp.jar /app.jar

Since services has to be in the Docker build context, I cannot say
COPY /services/myapp.jar /app.jar

So it would help, if I could configure the Vagrant docker-compose prov

[2015-07-23 06:24] toedter commented on #6
Hmm, could not get it working even when ssh in the vm and then manually invoke docker-compose from "/". Will investigate...

[2015-07-23 06:52] leighmcculloch commented on #6
By default docker compose runs in the default directory of the instance that Vagrant uses as the default. This is usually `/vagrant`.

[2015-07-23 15:07] toedter commented on #6
Thx for the reply.

Then I am wondering why "COPY services/myapp.jar /app.jar" in the Dockerfile is not working out of the box, since in the /vagrant directory there is the service directory....

[2015-07-24 19:17] psychemedia opened #7 "Names of created images"
I'm using vagrant-docker-compose to create a set of images within a VM using one `Vagrantfile` & `docker-compose.yml` file, bundling that VM and then launching containers within it using another `Vagrantfile` & `docker-compose.yml` file.

The original images (which are built) are automatically named as eg `vagrant_foo` and `vagrant_bar` based on the name given in the YAML file. These images exist

[2015-07-25 13:25] psychemedia commented on #7
When rerunning a `vagrant` script, I keeping getting an error on one of my containers (quite a large one) getting ripped down and replaced:

[code]

Each time I reload the machine, I get another level of nesting on the `ipynb` container which then causes a `Duplicate bind mount /notebooks` error, presumably as multiple differently named containers try to mount the /notebooks` directory?

Here's th

[2015-07-27 17:17] sandrokeil opened #8 "[Feature] Add start support"
It is possible to use the Docker Compose *start* option if the container exists and only use *up -d* at the first time (provision)? So *always* means:

[code]

This would be great.

[2015-07-29 05:36] leighmcculloch commented on #8
@sandrokeil Indeed I can add an option to control whether docker-compose is run as a daemon or not. If it's not run as a daemon though docker is likely to be killed when the provisioning script finishes or the provision script will run forever. Is that what you're wanting to happen?

[2015-07-29 05:41] leighmcculloch commented on #7
@psychemedia these look like they might be separate issues, lets deal with the first one here. docker-compose will use the image name and the project name to make the container names for the docker images it creates. When you reload the images using your second docker-compose.yml you probably want to make sure you set the project name and image names separately again, rather than including the pro

[2015-07-29 05:51] leighmcculloch commented on #6
Could you try using an absolute location in the COPY to see if that makes a difference. That's not an ideal situation but it might help us work out if maybe the working directory is a strange directory, and if so we can try fixing that.

[2015-07-29 08:41] psychemedia commented on #7
@leighmcculloch I was using the simple form of the name (mongo, ipynb) in the second vagrant script. The `ipynb` container was the only one getting misnamed; it's quite a large container, with a mount on host, also running in privileged mode. It was also the last container mentioned in the yml file. (I've been starting to develop superstitious beliefs about possible causes! Too much late night wor

[2015-07-29 14:12] leighmcculloch commented on #7
I'm not sure what to suggest then, if you were only having issues with one of the containers, but were doing the same thing with both then maybe it was a configuration issue caused by late-night working :). If that's the case would you like to close the issue, retry it not-late-at-night and see if we have a winner?

[2015-07-29 19:41] sandrokeil commented on #8
@leighmcculloch I want an option which does the following ;-)

* `vagrant up` (with provision or at the first time) does `docker-composer up -d`
* If I shutdown the machine (`vagrant halt`) and start it again (`vagrant up`) then `docker-composer start` is used, because the container already exists

Is this possible? I think this is a normal behaviour. I need this, because I must finish an applicat

[2015-07-29 20:02] leighmcculloch commented on #8
@sandrokeil the `-d` option tells docker-compose to run as a daemon, and it won't affect whether the the containers are recreated. Ref: https://docs.docker.com/compose/

If I understand correctly you can do what you want by setting `rebuild: false` in the `vagrant-docker-compose` options in your `Vagrantfile`. If that option is set to true it will delete the container and recreate on `vagrant up`,

[2015-07-30 16:44] sandrokeil commented on #8
@leighmcculloch Thank you for your support. This is the [demo project](https://github.com/sandrokeil/Z-Ray-Doctrine2-Demo) with rebuild: false. Here are my commands:

* `vagrant up`
* `vagrant halt`
* `vagrant up`

And the console output fromt the second vagrant up:
[code]

Are you sure that the rebuild option works?

[2015-08-02 22:54] leighmcculloch commented on #8
@sandrokeil Gotcha, I misunderstood. `rebuild: false` will stop the images from being rebuilt from their `Dockerfile`s, but docker-compose is still recreating the containers on `vagrant up` and I can see the same thing happening in the example project.

To fix this, removing `-d` won't be what we need. By default the version installed is `1.3.1` (it's the latest release) and it _always_ recreates

[2015-08-02 22:56] leighmcculloch commented on #4
Closing as this issue has become stale. Please reopen if this is still an active problem, and if you found a solution, please share it.

[2015-08-02 22:56] #4 closed

[2015-08-03 17:02] sandrokeil commented on #8
Thank you very much. This does the job. Can't wait for the new release of docker-compose.

[2015-08-03 17:02] #8 closed

[2015-08-26 16:10] hc2p commented on #8
@leighmcculloch just as a heads up, docker-compose 1.4.0 is released now

[2015-08-27 14:05] leighmcculloch commented on #8
@hc2p I've just pushed v0.0.5 which defaults to docker-compose 1.4.0. Thanks for pinging me when it was released!

[2015-08-29 09:57] hc2p commented on #8
thanks for the immediate update and an awesome plugin!

Am Donnerstag, 27. August 2015 schrieb Leigh McCulloch :

[2015-08-30 05:38] leighmcculloch opened #10 "Pass options to docker-compose"
It could be useful to be able to configure additional options that get passed to the docker-compose commands that run, or to be able to explicitly define the docker-compose commands that run on `up`.

Idea came from [this StackOverflow comment](http://stackoverflow.com/questions/30665816/docker-compose-vagrant-and-insecure-repository?rq=1#comment49395344_30665816).

[2015-09-12 10:48] petarmaric commented on #10
This would be a great option, as I would like to set a custom `timeout` for `docker-compose up`.

[2015-09-25 10:22] teohhanhui opened #12 "Re-download docker-compose binary when compose_version is changed"

[2015-10-13 12:05] nuth opened #13 "Multiple docker-compose provisions doesn't work as expected"
If i want to run multiple docker-compose.yml files like:
[code]

Both will run, but I will not be able to ssh in and manage using docker-compse -f /vagrant/docker-compose-dev, only the last provision I ran.

Example:
[code]

I'm fairly new to vagrant, so the issue might be something there, but I'm not sure.

[2015-10-13 13:16] nuth commented on #13
My bad. I didn't account for the project name I had set in Vagrantfile. I was thrown off track because when the two provisions were in the oppsite order in the Vagrantfile, it did work, without giving a project name.

Lesson: specific the project name in the terminal if you specify it in the Vagrantfile.

[2015-10-13 13:16] #13 closed

[2015-10-13 15:14] leighmcculloch commented on #13
Ah, no worries. If you think the README doc can be improved describing how to do this feel free to open a PR.

[2015-10-15 08:20] kazgurs opened #14 "Idempotency on ~/.profile file"
Environment variable COMPOSE_PROJECT_NAME is appended on every `vagrant provision`. Possible fix leighmcculloch/vagrant-docker-compose#11

[2015-11-12 15:13] jgrecoarroyo opened #15 "docker-compose default version change to 1.5.0"
Hi,

I like this plugin very much, and have been using it successfully; thanks for that. I will like to use some of the new features that docker-compose version 1.5.0 offers. The default version this plugin installs is 1.4.0.

I understand the latest version of this plugin (0.0.5) was released on Aug, and the new docker-compose release (1.5.0) was released barely one week ago.

Please I need help

[2015-11-12 16:27] leighmcculloch commented on #15
You can specify the `compose_version` manually, by adding the argument to your `Vagrantfile` like so:

[code]

In any case, version `0.0.6` of `vagrant-docker-compose` defaults to version `1.5.0` of `docker-compose` now. :smile:

[2015-11-12 16:27] #15 closed

[2015-11-13 19:34] annymsMthd commented on #10
+1 would also be useful for passing the --x-networking flag

[2015-11-13 19:41] annymsMthd opened #16 "Add support for Networking in Compose"
https://docs.docker.com/compose/networking/

It would be great to have a flag to turn this on and an option to name the project

[2015-11-28 21:22] leighmcculloch commented on #16
#10 is going to allow support for this, working on now.

[2015-11-28 21:23] leighmcculloch commented on #14
Was resolved in #17. Thanks!

[2015-11-28 21:23] #14 closed

[2015-11-28 21:28] leighmcculloch commented on #7
@psychemedia I'm gong to close, please reopen if you have ideas on how to move forward on this and what was happening.

[2015-11-28 21:28] #7 closed

[2015-11-28 21:29] leighmcculloch commented on #6
@toedter did the absolute directory work?

[2015-11-29 23:35] leighmcculloch commented on #10
@petarmaric @annymsMthd To give full flexibility, I'm considering not adding any options for this, and instead writing a short piece for the README Usage section on how to fully customize the commands run on start using a `shell` provisioner. What do you think?

[2015-11-30 05:52] teohhanhui commented on #10
I think that defeats the purpose of having this plugin. As we know, `docker-compose` is only a single binary, so what does this plugin bring to the table?

[2015-12-01 12:32] leighmcculloch commented on #10
@petarmaric @annymsMthd @teohhanhui What do you think of #19?

[2015-12-01 13:19] petarmaric commented on #10
@leighmcculloch I think that's a great idea. Simple use cases are still simple, and complex ones are possible. Good job man :)

[2015-12-01 21:18] #10 closed

[2015-12-01 21:28] leighmcculloch commented on #16
This is in version `0.0.8`.

This is an example file with networking enabled:

[code]

[2015-12-01 21:28] #16 closed

[2015-12-01 21:36] leighmcculloch commented on #10
This is in version `0.0.8`.

Options can be passed to the executable.

[code]

Results in:
[code]

And options can be passed to the `build`, `rm`, and `up` commands.

[code]

Results in:
[code]

[2015-12-02 00:11] annymsMthd commented on #10
+1 simple and it will keep up with new commands. You can always go back and
strongly type the major ones
On Tue, Dec 1, 2015 at 1:36 PM Leigh McCulloch <notifications@github.com>
wrote:

[2015-12-02 04:55] teohhanhui commented on #10
:+1:

[2015-12-04 17:58] sandrokeil opened #20 "Support for docker-compose run"
Is it possible to add support for the run command of docker-compose? So i can do the following in the Vagrantfile:

[code]

With this i can run an install script.

[2015-12-06 12:47] leighmcculloch commented on #12
To support this I think it will make sense to download `docker-compose` to a file that has the version number in it and symlink the current version. Then on run it can check for the presence of the specific version and download it if necessary, and then change the symlink as well.

[2015-12-06 12:48] #6 closed

[2015-12-06 12:48] leighmcculloch commented on #6
Closing as this has become a stale issue.

[2015-12-08 05:50] leighmcculloch commented on #20
I could make it call the run command after `up` if run options are defined. But that would only allow for a single `run` command.

Questions:

1. Would it be useful to be able to call run multiple times?
2. Is there a way to trigger the `run` with your parameters from within the `yml` file?

[2015-12-08 19:54] sandrokeil commented on #20
Yes, it depends on what to setup. Maybe you want to configure different containers. For clarification, here are the native Docker commands (pseudo):

[code]
The first three commands are handled by Docker Compose and the fourth command is for convenience for the user to try out the demo.

No, because this is only for convenience for the user to try out the demo. It's out of scope of the docker-comp

[2015-12-08 23:34] leighmcculloch commented on #20
So you can get going with this now, you should be able to do this with:

[code]

[2015-12-11 14:03] sandrokeil commented on #20
@leighmcculloch Of cource, that works. So there is nothing to change. Thanks.

[2015-12-11 14:03] #20 closed

[2016-01-14 19:25] SEAnderson07 opened #21 "Multiple docker-compose files"
Is it possible to use multiple docker-compose files in the Vagrantfile with this provisioner? I am looking to be able to mimic running `docker-compose -f docker-compose.yml -f docker-compose.dev.yml up` on vagrant up. Thanks!

[2016-01-16 19:32] leighmcculloch commented on #21
Yup we can do this. I think what we'll do is we'll make the file parameter optionally be an array. So it can be a string or an array, and if it's an array, they'll be used with multiple `-f`s.

[2016-01-17 01:23] leighmcculloch commented on #21
@SEAnderson07 this is in version 0.0.9 now! :smile:

[2016-01-17 01:23] #21 closed

[2016-02-01 17:44] ariel-rios-movile opened #25 "GPG key not found"
Hello! I got this error today on my Vagrant + Docker environment:

[code]

And efectively there is no GPG key performing that curl. Maybe it could be avoided using the [installation shell script](https://get.docker.com/)?

This is my Vagrantfile:

[code]

Thank you and best regards!

[2016-04-06 09:36] cternes opened #26 "Support for v2 compose files"
I've noticed that there is no support for v2 compose files. Have you considered implementing support for v2 files?

[2016-04-06 13:18] leighmcculloch commented on #26
Version 2 docker-compose files work out of the box if you change the `compose_version` value to `1.6.2`, then you can use either version 1 or 2 in the YAML. I'll make 1.6.2 the default version soon too that gets installed.

[2016-04-06 13:35] leighmcculloch commented on #26
I've just shifted the default `compose_version` to `1.6.2`, so you should be able to use version `2` compose files now. You'll need to run `vagrant plugin install vagrant-docker-compose` to get the latest version, `0.0.10`.

[2016-04-06 13:35] #26 closed

[2016-04-06 16:04] leighmcculloch commented on #12
@teohhanhui This was added in #24 and is now released in version `1.0.0`. Hope it's helpful!

[2016-04-06 16:04] #12 closed

[2016-04-07 08:52] pjean opened #27 "Manage docker login"
In order to pull image from private registry, we need to be authenticated.
login command : https://docs.docker.com/engine/reference/commandline/login/
Could  you please provide the capability to have an interactive login during the provisioning ?

[2016-04-07 13:25] cternes commented on #26
Works like a charm, thanks!

[2016-04-07 13:48] leighmcculloch commented on #26
![](http://jif.wtf/00.opmIBtljGbwZi.gif)

[2016-04-07 14:15] leighmcculloch commented on #27
During provisioning in vagrant it's not possible to interact with the prompt (I think), so you'd need to place the username and password into the login command. I'm not sure yet if it makes sense to make this a configuration option for `vagrant-docker-compose` because it isn't a configuration for `docker-compose` but rather for `docker` itself. Maybe it should be added to the built-in `docker` pro

[2016-04-07 14:27] leighmcculloch commented on #27
I have an elegant solution on it's way, if you can confirm the above works.

[2016-04-07 18:02] pjean commented on #27
I thought the same thing but I receive 401 http error when I used inline shell provision for login.
vagrant-hostsupdater plugin interact with the prompt in order to modify the hosts file as root user.

[2016-04-08 06:57] leighmcculloch commented on #27
https://github.com/leighmcculloch/vagrant-docker-login works for me and can login me in. Can you give it a go and let me know if you still get the 401 http error? Considering vagrant provisioning is largely meant to be automatic I'd like to see if we can get the command line option working, otherwise I'll look further into the how vagrant-hostsupdater does its prompts.

[2016-04-11 04:17] leighmcculloch commented on #27
Please reopen if the above doesn't solve your need.

[2016-04-11 04:17] #27 closed

[2016-04-21 11:22] desm opened #28 "compose_version check, and auto-update"
Hi. I have been using the following line in my Vagrantfile for the past little while:

`pocket.vm.provision :docker_compose, compose_version: "1.6.0"`

I was hoping that setting the version to 1.7.0 (released 8 days ago) would auto-magically upgrade docker-compose, but it does not. One thing that did work however was to delete /usr/local/bin/docker-compose and do a 'vagrant reload'. Maybe the plug

[2016-04-21 13:17] leighmcculloch commented on #28
Version `1.0.0` was released 15 days ago and has the exact feature you're asking for 😄 . Ref: #24.

What version of `vagrant-docker-compose` do you have installed? You can check by running:

[code]

If it's below `1.0.0` you can update by doing the following:

[code]

If you already have `1.0.0`, there might be a bug and we can investigate.

[2016-04-21 13:33] leighmcculloch commented on #25
Did this issue resolve itself? It looks like it's related to the `docker` provisioner and not `docker_compose` since the latter doesn't use GPG. I suggest upgrading `vagrant` to make sure you haven't got an old provisioner.

Going to close because I think it's `docker` not `docker_compose` here, but if you think I'm incorrect please reopen so I can dig further.

[2016-04-21 13:33] #25 closed

[2016-04-21 13:53] desm commented on #28
Thanks Leigh, much appreciated. I did not think of upgrading the plugin! I will try again and let you know if the newer version of the plugin upgrades docker-compose from 1.6.0 to 1.7.0 smoothly or not. Cheers.

[2016-04-22 10:59] desm commented on #28
It worked. I reverted to version 1.6.0 in the linux vm by removing docker-compose from /usr/local/bin, then setting the version back to 1.6.0 in the Vagrantfile and doing a `vagrant reload --provision`.

Then I upgraded your plugin, set compose_version to 1.7.0 in the Vagrantfile, then ran `vagrant reload --provision` and it upgraded docker-compose to 1.7.0. Thanks again.

[2016-04-22 13:08] leighmcculloch commented on #28
Excellent! 👍

[2016-04-22 13:08] #28 closed

[2016-06-15 11:04] ISkomorokh opened #29 "Can't install plugin"
Hi! Could you please help me. When trying to install this plugin I'm receiving the following error:

Vagrant version `1.8.3`. On another machine with Vagrant `1.8.1` it is working fine.

$ `vagrant plugin install vagrant-docker-compose`
Installing the 'vagrant-docker-compose' plugin. This can take a few minutes...
Bundler, the underlying system Vagrant uses to install plugins,
reported an error. T

[2016-06-15 15:40] nickelozz opened #30 "Set docker-compose version to latest"
Is there any way to achieve setting docker-compose version to latest stable? Just like the docker installation defaults to latest stable version.

[2016-06-16 06:51] ISkomorokh commented on #29
Ok, I'm closing this issue. To resolve it I had to install Vagrant `1.8.4`. The problem was - there were no such an installer on an official site. I used cocolatey to install it [vagrant latest](https://chocolatey.org/packages/vagrant)

[2016-06-16 06:51] #29 closed

[2016-06-16 07:35] leighmcculloch commented on #29
@ISkomorokh What platform/OS was this happening on? Were you using the ruby gem version of vagrant or the official installer from https://www.vagrantup.com/downloads.html?

[2016-06-16 07:37] leighmcculloch commented on #30
Unfortunately the download URLs for docker-compose don't have a latest URL that will always get the latest. But you can configure the version being downloaded by setting `compose_version` and I also try and keep this project up to date with the latest version. If you're using the latest version of this plugin, whenever you update the plugin it will auto-update docker-compose inside your vagrant in

[2016-06-16 08:21] ISkomorokh commented on #29
@leighmcculloch Windows 8.1 x64

The official installer

[2016-06-28 23:58] cappetta opened #31 "example doesn't work out of the box"
I'm trying to get this plugin working and currently debugging the issue.  I tested the example as it does not work out of the box as expected.  I'll post a message if I figure out how to solve this problem...

`

[2016-07-02 05:20] leighmcculloch commented on #31
@cappetta The error you're seeing is not an error relating to this plugin, it's an error relating to the setup of Vagrant on your machine. Vagrant, independently of this plugin, needs a provider to host VMs in. The simplest one to use is [VirtualBox](https://www.virtualbox.org/wiki/Downloads). Once you install VirtualBox `vagrant up` should work as expected in that directory.

[2016-07-02 20:07] #31 closed

[2016-07-13 20:17] tkambler opened #33 "How to pass environment variables to docker-compose?"
Can you provide an example in which environment variables, which are defined within the `Vagrantfile`, are made available to the `docker-compose` command? The goal is to have a `Dockerfile` that references them, like so:

[code]

Nothing I've tried so far seems to work.

Thank you.

[2016-07-13 21:17] leighmcculloch commented on #33
@tkambler There isn't a way to do this in the current version (1.0.0), but I think this could be added without a great deal of effort. Stay tuned.

[2016-07-13 21:23] tkambler commented on #33
@leighmcculloch Here's the situation:

I've got a collection images that need to be built, but the build process includes some dependency grabs that require credentials. I obviously don't want to add that information to the Dockerfile, so I'd like to be able to pass it in as config via the Vagrantfile.

I hear you re: environment variables. I may be on another wild goose chase, but I do think I ma

[2016-07-13 23:53] tkambler commented on #33
Closing this out for now. While not ideal, due to the duplication (for each service), I managed to get to a semi-decent state by doing the following:

The docker-compose.yml file looks like this:

[code]

That service's Dockerfile looks like this:

[code]

[2016-07-14 00:15] leighmcculloch commented on #33
Am just testing this change ^.

[2016-07-14 03:07] #33 closed

[2016-07-14 03:28] leighmcculloch commented on #33
@tkambler This is added in the latest version (v1.1.0) and has been pushed. If you run `vagrant plugin install vagrant-docker-compose` you should get the new version. Then you can specify environment variables in a `Hash` like so:

[code]

[2016-07-14 12:05] tkambler commented on #33
Terrific!

[2016-08-11 18:19] FlaTutu opened #35 "Context path with multiple docker-compose files"
I have an issue with this plugin.
I have multiple docker-compose files, and any of them have Dockerfile pathes in it. Furthermore, there are external links between them.

It seems that the first path declared in yml array will be the current path in context for all building and running docker-compose files.
I have two problems :
- First one, the relative path to the Dockerfile will always start to

[2016-09-04 03:16] leighmcculloch commented on #35
Let me echo back to make sure I understand the two issues:
1. The working directory for where to look for Dockerfiles is based off the first YML file, but should be configurable?
2. The names of the images built ues the parent directory, but should be configurable?

[2016-09-05 14:05] 2trc opened #36 "Is "docker-compose.override.yml" supported?"
Hi,
I was wondering if "docker-compose.override.yml" was supported as stated in [Extending services and Compose files](https://docs.docker.com/compose/extends/)

I tried but it didn't work for me

[2016-09-21 10:34] Industrial opened #37 "Old version"
Hi!

This seems to be installing Docker Compose v1.6.x, while the latest is 1.8.x.

I'm used to using docker compose with the --build flag, but that's not available in 1.6 but later.

gr,

Tom

[2016-09-22 03:47] leighmcculloch commented on #37
Thanks @Industrial. I've updated the default version installed to 1.8.0. If you ever want to use a different version than the default you can [config the version manually](https://github.com/leighmcculloch/vagrant-docker-compose#other-configs), but either way the latest version (v1.2.0) has Docker Compose 1.8.0 now. 😄

[2016-09-22 03:47] #37 closed

[2016-09-29 00:14] syntacticvexation opened #38 "Docker provisioner not running before docker-compose provisioner"
Hi,

When attempt to build my docker-compose boxes I get this error:

[code]

Here is my Vagrantfile:

[code]

If I comment out the docker_composes provisioner line and allow docker to install then uncomment it and reprovision it works fine.

My understanding from the doco is that these should run sequentially:
https://www.vagrantup.com/docs/provisioning/basic_usage.html

Is there anything you can

[2016-11-07 19:16] HeathNaylor opened #39 "One of "build_dir" or "image" must be set"
After running `vagrant up` I get the following error:

[code]

Vagrantfile:
[code]

docker-compose.yml
[code]

[2016-11-09 05:30] leighmcculloch commented on #36
Ahh, we could add loading both in the next version I think. @2trc did you want to open a pull request adding it? Otherwise I'll put it in the queue of things to get done.

[2016-11-21 07:32] jonua opened #40 "How to sync `vagrant` folder?"
I need to sync the folder `/vagrant/` on the guest machine to a folder on the host without a reload vagrant. How can I doing that?

[2016-12-19 09:58] LukasVice opened #41 "Installs docker-compose even if docker-compose is already installed"
In my vagrant box, docker-compose version 1.9.0 is installed in the /usr/local/bin directory.
When starting with vagrant up, the plugin checks for docker-compose but does not find it and installs docker-compose 1.8.0.
How does the plugin check if docker-compose is installed?
Thanks.

[2016-12-20 05:58] leighmcculloch commented on #41
It checks if it is installed by [checking](https://github.com/leighmcculloch/vagrant-docker-compose/blob/master/lib/vagrant-docker-compose/cap/linux/docker_compose_installed.rb#L7-L13) if there is a file at the `executable_install_path`.

You can change the install path by overriding the [executable_install_path](https://github.com/leighmcculloch/vagrant-docker-compose#other-configs) param.

[2016-12-20 09:59] LukasVice commented on #41
Ok, thanks.

I think it would be great if it would check the symlink path too, so you don't have to set the executable_install_path in each Vagrantfile (since the executable_install_path is per default with version number). Or maybe just check if it is in the PATH (if possible...)?

[2016-12-20 14:25] leighmcculloch commented on #41
It checks if the specific version is installed so that if someone has vagrant installed and then they set the version to be a different version, it will download it and setup the symlink for it.

[2016-12-21 16:15] Ilhicas opened #42 "Issue with example provided"
Hello, so I've been trying to use the example.
I'm still a new user to Vagrant, and Docker itself, but the problem was that whenever I did Vagrant Up
I would get

Couldn't connect to Docker daemon at http+docker://localunixsocket - is it running?

If it's at a non-standard location, specify the URL with the DOCKER_HOST environment variable.

By ssh into VM problem would persist by doing docker ver

[2017-01-14 18:33] zogot opened #43 "Specify Working Directory for .env file"
Since docker-compose allows specifying a .env file to be loaded, and its dependent on the running location of docker-compose, being able to specify where we are running docker-compose will help a lot.

https://docs.docker.com/compose/env-file/

[2017-01-14 18:36] zogot commented on #43
For anyone that may want to know how to solve it currently. The docker commands are run from /home/vagrant.

I just opted to copy the .env file with an inline config.vm.provision "shell"

[2017-01-16 07:39] ed-alertedh commented on #42
I had the same issue. Specifically, I changed it to:
config.vm.box = "ubuntu/trusty64"

Possibly caused an incompatibility with the precise64 base image after a version bump for docker/docker-compose?

[2017-02-09 01:13] carlosperate commented on #42
I can confirm that I had the same issue and upgrading to `config.vm.box = "ubuntu/trusty64"` solved it.

[2017-02-24 14:21] lindsve opened #44 "docker-compose pull instead of up"
Are there any way to configure this so it only pulls the images and not starting the containers?

[2017-02-24 19:44] leighmcculloch commented on #44
Not at the moment, but we could support your workflow. How does pulling fit into your workflow?

In the meantime what you can do is reduce your config to something like:

[code]

If you don't specify the `.yml` file it won't run `up`, it'll just install `docker-compose`.

Then you can add a shell provisioner that does the pull.

Example:

[code]

---

At the moment this plugin only runs `up` and n

[2017-02-24 20:06] leighmcculloch commented on #43
The `docker-compose up` command runs in the default working directory, which vagrant sets as `/vagrant`. I don't see anyway of changing this with the built-in Vagrantfile options, but I'm 👍 for adding a `working_directory` parameter which is where the commands are run from.

@zogot: Did you want to take a stab at adding the feature?

[2017-02-24 20:08] leighmcculloch commented on #41
@LukasVice: Does your box already have docker-compose installed?

[2017-03-01 13:36] lindsve commented on #44
Sorry for the delayed response,

tl;dr, just close this issue for now.

We was looking into having two VMs (A/B) in parallel where we wanted to make sure that we could provision A before stopping B and then start the containers in A. The runtime environment where we will deploy our VMs will most likely have an unstable Internet connection so we wanted to make sure that all images was properly pull

[2017-03-04 17:35] lephleg opened #45 "Update to latest Docker Compose"
Hello,

First of all, great work! Please keep it up.

I'd like to ask if there are any known incompatibilities regarding the latest Docker Compose version (currently 1.11.2). I know that compose format has reached v3 with some options removed.

Could these cause us a problem with Vagrant?

[2017-03-05 16:49] weynhamz commented on #44
I already have the images pre-built and pushed to a custom registry, and I don't want to rebuild the images again when up the vagrant, so a 'pull' command before the 'up' would be nice.

[2017-03-05 18:01] leighmcculloch commented on #44
I'm going to reopen because I think we can make this a feature too.

[2017-03-05 23:18] leighmcculloch commented on #45
@lephleg: Would you like to try it with compose version 1.11.2 by [using](https://github.com/leighmcculloch/vagrant-docker-compose#other-configs) the `compose_version` parameter? If it works we can bump that up to the latest version, otherwise we can look at updating to the new compose version.

[2017-03-06 19:54] das-peter commented on #45
@leighmcculloch / @lephleg For us 1.11.2 seems to work. All containers up and running.

[2017-03-07 21:22] lephleg commented on #45
@das-peter Great news! @leighmcculloch I didnt have any issues either, so I think we could set 1.11.2 as the default version.

[2017-03-08 06:41] leighmcculloch commented on #45
@das-peter: Thanks for confirming!

The latest version of the plugin (1.3.0) defaults to docker-compose 1.11.2.

[2017-03-08 06:41] #45 closed

[2017-03-10 03:46] meua opened #46 "Permission denied on windows babun?"
==> default: stdin: is not a tty
==> default: bash: line 3: /usr/local/bin/docker-compose-1.11.2: Permission denied
The following SSH command responded with a non-zero exit status.
Vagrant assumes that this means the command failed!

 /usr/local/bin/docker-compose-1.11.2 --x-networking -f "/vagrant/docker-compose.yml" rm

Stdout from the command:

Stderr from the command:

stdin: is not a tty
bash

[2017-05-04 17:38] aeshaynes opened #47 "undefined method `group_by' for nil:NilClass (NoMethodError)"
This error occurs during install.

/usr/lib/ruby/2.3.0/rubygems/specification.rb:946:in

 `all=': undefined method `group_by' for nil:NilClass (NoMethodError)
        from /usr/lib/ruby/vendor_ruby/vagrant/bundler.rb:275:in `with_isolated_gem'
        from /usr/lib/ruby/vendor_ruby/vagrant/bundler.rb:231:in `internal_install'
        from /usr/lib/ruby/vendor_ruby/vagrant/bundler.rb:102:in `instal

[2017-05-07 01:43] leighmcculloch commented on #47
@aeshaynes: Could you share:

* version of vagrant
* command you are running to install vagrnat-docker-compose
* operating system

[2017-05-07 01:48] leighmcculloch commented on #46
I don't think these errors you're seeing could be caused by Windows Babun, as the error that's causing the failure is the permission denied error, which means that the vagrant user doesn't have permission to access the `/usr/local/bin/docker-compose-1.11.2` path. Could you share your Vagrantfile, or in lieu of that, the image you're installing and any settings you're passing to the docker-compose

[2017-05-07 01:50] leighmcculloch commented on #43
@zogot: I took another look at adding this but then discovered Vagrant already has a feature for changing the working directory. If you set the VAGRANT_CWD environment variable it will change the working directory to there.

Ref: `https://www.vagrantup.com/docs/other/environmental-variables.html#vagrant_cwd`

Let me know if that solves it for you.

[2017-05-07 14:05] cnkuyan commented on #47
Hi,

 I have the exact same error ,as follows:

$ vagrant plugin install vagrant-docker-compose
Installing the 'vagrant-docker-compose' plugin. This can take a few minutes...
/usr/lib/ruby/2.3.0/rubygems/specification.rb:946:in `all=': undefined method `group_by' for nil:NilClass (NoMethodError)
        from /usr/lib/ruby/vendor_ruby/vagrant/bundler.rb:275:in `with_isolated_gem'
        from /usr/

[2017-05-07 14:45] leighmcculloch commented on #47
I think the cause of this is not the package but an issue with the version of vagrant packaged for Ubuntu. Other plugins are seeing the same issue reported: @vagrant-libvirt/vagrant-libvirt#575.

Could you try downloading vagrant from https://www.vagrantup.com/downloads.html and then try installing?

[2017-05-07 21:27] aeshaynes commented on #47
Seems like updating to 1.9.4 fixes the issue.

[2017-05-07 22:02] leighmcculloch commented on #47
Thanks for confirming @aeshaynes.

[2017-05-07 22:02] #47 closed

[2017-05-16 11:32] pacharanero commented on #38
I also encountered this error, and I couldn't find any documentation to explain why Docker wasn't being installed.

After some experimentation, I was able to fix this by appending `, run: "always"` to the `config.vm.provision :docker` command thus:

`config.vm.provision :docker, run: "always"` as you have done with the docker-compose command. I can't work out why this would have the required effec

[2017-05-16 19:55] leighmcculloch commented on #38
Thanks @pacharanero. That's real odd, the `:docker` provisioner shouldn't require run always unless you uninstalled docker after the initial provision. Maybe something else in your instance is causing the instance to lose docker or maybe docker failed to install during the initial provision?

[2017-06-02 22:56] amurzeau commented on #46
I have the same issue, the reason is missing executable permission:
vagrant@stretch:~$ ls -l /usr/local/bin/docker-compose-1.11.2
-rw-r--r-- 1 root staff 0 Jun  2 22:14 /usr/local/bin/docker-compose-1.11.2

[2017-06-25 08:34] tux240 opened #48 "Error while building a project"
Hello,

I started my vagrant up with this file:
[code]

It works well but there is a crash that return this error:
Service 'web' failed to build: The command '/bin/sh -c npm install' returned a non-zero code: 137

I don't know what append

Thanks

[2017-06-25 13:56] leighmcculloch commented on #48
It sounds like one of your services in your docker compose is attempting to run `npm install` and is failing. Can you share your `docker-compose.yml` file?

[2017-06-25 13:59] tux240 commented on #48
I found the problem.
It was the memory that wasn't too hight. So I added:
`config.vm.provider "virtualbox" do |v|
    v.memory = 2048
  end`

But I found that, once my containers are launched, they are very slow...

[2017-06-25 14:01] leighmcculloch commented on #48
Ah, yes you may need to alter the memory that vagrant assigns your instance.

[2017-07-28 21:34] jamiejackson commented on #41
Mine did. I removed the installation and let the plugin take over. Now it doesn't keep reinstalling.

[2017-07-28 21:36] jamiejackson opened #49 "Named Provisioner"
I use named provisioners so I can rerun a specific one when I want to, e.g.:

[code]
I can rerun that with `vagrant provision --provision-with=install_less`. How do I name a docker-compose provisioner?

[2017-08-01 20:59] h3christophe commented on #38
I had the same error and it was because on how my Vagrant file was written

[code]

i used config.XXX for the docker_compose and node.XXX for the docker provisioner
And because of that "docker_compose" was executed before "docker" and thus could not find docker

Silly mistakes :)

[2017-08-05 05:05] leighmcculloch commented on #38
Ah, thanks for explaining @h3christophe.

[2017-08-05 05:05] #38 closed

[2017-09-23 13:33] leighmcculloch commented on #49
You should be able to use named provisioners with this plugin also, by setting the type to `docker_compose` and setting a name prior to that. All the other options should work as normal.

[2017-09-23 13:34] #48 closed

[2017-09-23 13:35] #41 closed

[2017-09-25 11:41] paul-corda commented on #43
I've gone ahead and used this great gist here:
https://gist.github.com/jowave/9f9059cd79bd8e59398ac5f7fe7b6218

Building my hash based on where the .env file is located in my vagrant host & then just passing it as described in:
https://github.com/leighmcculloch/vagrant-docker-compose/issues/33

[2017-09-27 17:28] maszaa opened #50 "'docker_compose' provisioner not found on Windows 10"
I have VirtualBox, Vagrant and vagrant-docker-compose plugin installed. Running `vagrant up` causes the following error:
[code]

I've created the `Vagrantfile` based on the examples on the README. I've also tried to reinstall the `vagrant-docker-compose` and reboot the system.

I'm using Windows 10 64 bit, latest VirtualBox, Vagrant and vagrant-docker-compose. As VM box I'm using `ubuntu/trusty32`

[2017-09-27 17:33] maszaa commented on #50
The issue was related to Hyper-V being enabled. Seems that VirtualBox can't be used with 64 bit images in that case.

[2017-10-01 02:26] leighmcculloch commented on #50
Could you share what the contents of these locations are on disk?

[code]

Ref: https://stackoverflow.com/a/36944454/159762

[2017-10-06 03:42] leighmcculloch commented on #46
@amurzeau: Could you share your `Vagrantfile` and/or which Vagrant box you're using?

[2017-11-03 21:39] neverwet commented on #50
@maszaa

I had same problem on Windows 8 Professional. This error can causes because of non-latin characters in path to .vagrant.d folder.

I resolved it via moving .vagrand.d to another directory and changing this path in environment variable VAGRANT_HOME.

[2018-01-12 22:53] gabz75 commented on #44
Any update on this? Is there an alternative solution while waiting for this feature?

[2018-01-13 03:01] leighmcculloch commented on #44
@gabz75 Would you (or anyone else) be up for taking a stab at this?

[2018-02-07 22:10] marceloverdijk commented on #43
@paul-corda that gist didn't worked for me.
Using `28: compose_env = Hash[*File.read(".env").split(/[=\n]+/)]` gives me the following error:
`Vagrantfile:28:in `[]': odd number of arguments for Hash (ArgumentError)`

Is there another way to use the `.env` file with Vagrant/Docker-compose?

[2018-02-15 10:54] paul-corda commented on #43
@marceloverdijk Seems to be an issue with how it handles commented lines.
Glad you've found a fix for your issue though! :)

[2018-07-20 23:52] jamiejackson opened #51 "Support docker-compose push"
Please consider supporting `docker-compose push`.

[2018-07-21 00:16] leighmcculloch commented on #51
@jamiejackson Thanks for the suggestion! How would you imagine it working?

[2018-07-21 14:22] jamiejackson commented on #51
I'm new to pushing images, so I'm not sure I'm considering everybody's workflow, but I think this is how I'd expect it to work:

[code]

`provisioner.rb`
[code]

[2018-07-21 20:54] leighmcculloch commented on #51
Hmm, if it was added in this way it would push images automatically everytime you brought up a vagrant image, which might be out of scope of the main use cases of using this plugin. It might make sense. While we see if anyone else comments on this issue, you should be able to get essentially the same behavior by adding something like the following to your `Vagrantfile` after the `:docker_compose`

[2018-07-22 17:33] jamiejackson commented on #51
My workaround is similar:

[code]

[2018-10-10 10:41] mbrodala commented on #49
I can confirm that this works as expected, here a working example:

[code]

[2018-10-10 10:42] mbrodala opened #52 "".env" not taken into account"
We noticed that our [local `.env` file](https://docs.docker.com/compose/environment-variables/#the-env-file) is not used by `docker-compose` which is used to set various options.

I assume that's becaues `docker-compose` is executed in the default login directory (e.g. `/home/vagrant`) instead of the directory of the `.env` file. In our case that would be `/vagrant` where the Compose files are loc

[2018-10-10 13:12] leighmcculloch commented on #49
Thanks for confirming @mbrodala !

[2018-10-10 13:12] #49 closed

[2018-10-10 13:34] mbrodala commented on #52
Everything is toplevel:

[code]

The `Vagrantfile` then looks accordingly:

[code]

I also noticed that `yml` always needs to use absolute paths which would be obsolete if one could set a working directory here.

[2018-10-10 15:21] leighmcculloch commented on #52
🤔 That's a good point. If we supported a working directory it would make working with this a lot easier. @mbrodala Are you up for taking a stab at adding support for this and opening a PR?

[2018-10-11 09:09] mbrodala commented on #52
I'd love to but unfortunately I have limited time ATM. :-/

[2018-10-22 09:12] mbrodala commented on #52
As a workaround we now use a setup like this:

[code]

This has many advantages:

1. The `.env` file is loaded by Docker Compose since we switch the working directory.
2. We can execute as regular user instead of `root`.
3. Output colors can be rendered as is.

[2018-11-01 08:17] mbrodala opened #53 "Cannot use "docker-compose" right on first "vagrant up""
Given the following setup:

* `Vagrantfile`:

[code]

* `docker-compose.yml`:

[code]

The very first `vagrant up` fails since the Docker daemon does not seem to be ready yet:

[code]

Subsequent runs are fine afterwards:

[code]

Also a plain `docker run` seems to work fine.

* `Vagrantfile`

[code]

Result:

[code]

Any idea what's wrong here? Notice that I need to use the `shell` provisioner du

[2018-11-01 15:34] leighmcculloch commented on #53
Hmm interesting, I haven't seen that before. Could you share the dockerfile too and I'll see if I can debug too.

[2018-11-01 15:55] mbrodala commented on #53
There is no `Dockerfile`, this occurs with any image including the `hello-world` from my example.

[2018-11-15 05:14] leighmcculloch commented on #53
Ah very interesting. Thanks @mbrodala for digging in and opening the issue on vagrant. I've not seen this occur when I've been using. I wonder if this is related to specific versions of Linux or the distro, or how sshd is configured within? I'll follow along on the vagrant issue.

[2019-09-19 15:46] prilka commented on #30
@leighmcculloch It's possible to determine the latest docker-compose version. The URL https://github.com/docker/compose/releases/latest will always redirect to the latest version, so the Location-Header contains the needed informationen.

I'm not an ruby developer, but i think it's possible to replace this line
https://github.com/leighmcculloch/vagrant-docker-compose/blob/482f103bbcb27c69a6fce6ca7

[2019-09-21 20:36] leighmcculloch commented on #30
@prilka Thanks for the suggestion! That's a great idea.

[2019-09-22 20:39] leighmcculloch commented on #30
One downside to doing this is it will make using the package unpredictable. If you have a specific version of the plugin installed, over time the version of docker-compose changes, which makes a development environment unpredictable.

I'm guessing not a lot of people are pinning vagrant plugin versions though, so this is probably mute, and `latest` is more likely to help than hinder folks.

I'm wo

[2019-09-23 06:31] leighmcculloch commented on #50
Closing as the information shared by @neverwet suggests this is an issue with vagrant on Windows. It might be worth opening an issue on the vagrant project itself if you folks haven't already: https://github.com/hashicorp/vagrant.

[2019-09-23 06:31] #50 closed

[2019-09-23 06:32] leighmcculloch commented on #46
Closing due to lack of activity.

[2019-09-23 06:32] #46 closed

[2019-09-23 06:35] leighmcculloch commented on #42
I've just bumped the example to use that image in 17a5c9f. Thanks!

[2019-09-23 06:35] #42 closed

[2019-09-23 09:07] prilka commented on #30
That's true, but it's the same behavior as which most package-managers (e.g. `pip install docker-compose`). Developers who prefer a predictable version can set the desired version in their config via `compose_version`.

nice, thank you 👍

[2019-09-23 10:27] prilka opened #54 "Don't rely on curl only"
For the download/installation of docker-compose curl is used inside of the vm. But not all images have curl preinstalled (e.g. `debian/stretch64`), which leads to the following error:

[code]

The installation would be more robust if additional `wget` would be used.
Something like:
[code]

[2019-09-23 14:12] leighmcculloch commented on #54
Instead of `curl` the plugin should use the Ruby `Net::HTTP` class, then neither need be installed.

[2019-09-24 13:42] prilka commented on #54
That's true, but then the download ist done on the host, not inside of the vm. If it's easy to transfer files to the vm, that would be the most elegant way.

[2019-09-28 21:22] #54 closed

[2019-09-28 22:55] leighmcculloch commented on #54
@prilka This is in v1.5.0. Give it a go and let me know if it is 👍.

[2019-09-29 04:05] leighmcculloch commented on #30
I think the approach I'll take is to use the GitHub API, with something akin to the following:

[code]

Right now this returns `1.24.1`.

The downside to using the GitHub API is that rate limiting will set in if someone, or the NAT they are behind, is hitting the API a lot.

Using the 301/302 redirect on the URL won't have the rate limit.

[2019-09-30 14:36] armanzor opened #57 "Segfault in docker-compose v1.5.0"
in version 1.5.0
docker-compose is not been installing properly
in 1.4.0 it was ok

[2019-09-30 14:56] leighmcculloch commented on #57
Thanks for reporting. @armanzor Could you share the log output, Vagrantfile, which operating systems and versions for the host and the guest?

[2019-10-03 01:58] leighmcculloch commented on #57
@armanzor Are you able to share more details?

[2019-10-05 13:47] armanzor commented on #57
Hi @leighmcculloch
Sorry for the pause
Host operation system: Windows 10
Guest OS: Centos7, Ubuntu Bionic
Vagrantfile example:
[code]
Enter to VM with `vagrant ssh` and try `docker-compose info`

[2019-10-05 14:05] leighmcculloch commented on #57
Thanks. Could you share the segfault output?

[2019-10-05 21:48] leighmcculloch commented on #57
@armanzor `docker-compose info` is not a valid command. Although I wouldn't expect a segfault. I've tested this with the `centos/7` box and with plugin v1.5.0 I don't see a segfault. I don't have a Windows host to test with though.

Can you share the vagrant output that shows the installation of `docker_compose`? I'm particularly interested in which machine and kernel name is detected. It should b

[2019-10-08 09:27] prilka commented on #54
Good work. Works now without problems.

[2019-10-08 09:41] prilka commented on #30
The rate limit is really annoying for agencies with a shared ip. The solution with the redirect parsing works well and stable. I use it in some provisioning-scripts for quite a while.

[2019-10-08 14:47] leighmcculloch commented on #30
That's a good point. 👍

[2019-10-24 13:35] karousn commented on #57
+1

[2019-10-25 03:53] leighmcculloch commented on #40
@jonua This appears to be a generic question about syncing folders on the vagrant guest with the vagrant host and not about vagrant-docker-compose. You might be able to find the answer on Stack Overflow or in the vagrant docs.

[2019-10-25 03:53] #40 closed

[2019-10-25 03:58] leighmcculloch commented on #39
@HeathNaylor Your error is from the `docker provider` and not the `docker provisioner`. The `docker provisioner` is the `config.vm.provision :docker` line and it provisions docker into your guest VM/container by installing docker. The `docker provider` is where you're using `config.vm.provider :docker` which is using docker instead of virtualbox to host the guest container. When you're using the d

[2019-10-25 03:58] #39 closed

[2019-10-25 04:16] leighmcculloch commented on #52
This is a duplicate of #43, let's track there.

[2019-10-25 04:16] #52 closed

[2019-10-27 09:22] #57 closed

[2019-10-27 09:28] leighmcculloch commented on #57
@armanzor @karousn This bug has been fixed in `v1.5.1` which is now released. Please reply here if you continue to see the same issue. You can update to `v1.5.1` by running:

[code]

[2019-10-27 09:30] leighmcculloch commented on #57
For any guest machine that already had `docker-compose` installed in, you'll need to remove the `docker-compose` and `docker-compose-1.24.1` binaries from `/usr/local/bin/`. You can then run `vagrant provision` to rerun the install of docker-compose.

[2020-01-30 17:58] scholarsmate opened #60 "The plugin doesn't appear to be proxy-aware"
Hi, I'm trying to use the docker-compose provisioner, but I need to use a proxy.  I have configured the proxy settings in the VM using the vagrant proxyconf plugin.
[code]

The problem stems from `vagrant-docker-compose-1.5.1/lib/vagrant-docker-compose/installer.rb:47:in 'fetch_file'` , resulting in this error:
[code]

https://stackoverflow.com/questions/15792999/how-to-set-a-proxy-in-rubys-net-ht

[2020-02-02 15:43] leighmcculloch commented on #60
Ah, so the vm config of the proxy is not impacting the download of docker-compose because the download happens on the host, not on the vm.

I think if you set this environment variable on the host Ruby should pick it up and use is for the net::http calls.

`HTTP_PROXY`

[2020-02-02 15:47] leighmcculloch commented on #60
Please let me know if that works and we can add a note to the readme about it.

Todo:
- [ ] Confirm if HTTP_PROXY works
- [ ] Add to readme

[2020-02-04 11:43] simomat commented on #60
I am behind a proxy, too and have a similar issues. I get an error where the host github.com cannot be resolved, but that's a common manifestation when we forget to set the proxy again:
[code]

This happens also when I set the proxy with HTTP_PROXY as env var. I tried it in lower and upper case but fails every time.

[2020-02-09 06:42] leighmcculloch commented on #60
Got it, it must be the way that it is using Net::HTTP. We should be able to set the proxy based off that environment variable manually in the code. Anyone who is using a proxy and can take it and is open to making the change and opening a PR?

[2020-06-09 15:11] T3N4K4 commented on #35
@leighmcculloch
I don't know of the challenges the OP had, but I can confirm issue nr. 1 not only for Dockerfiles, but .env too.

[code]

The path `.docker/wordpress/.env.local` exists in project2.

[2020-06-09 15:24] leighmcculloch commented on #35
Thanks for sharing an example. What do you think should change to make this work? Instead of passing each docker-compose file to a single call of docker-compose should each file be a separate execution of docker-compose?

[2020-06-09 15:31] T3N4K4 commented on #35
Thats a good question ;-).

I am not deep enough inside docker-compose to tell if the call below

`/usr/local/bin/docker-compose-1.24.1 -f "/home/vagrant/projects/project1/docker-compose.yml" -f "/home/vagrant/projects/project1/docker-compose.local.yml"`

would be the same as

`/usr/local/bin/docker-compose-1.24.1 -f "/home/vagrant/projects/project1/docker-compose.yml"`
`/usr/local/bin/docker-comp

[2020-06-09 15:58] leighmcculloch commented on #35
What if you replace your one:
[code]
With multiple:
[code]
Does that resolve the issue?

[2020-06-09 19:18] T3N4K4 commented on #35
That did the trick. I just checked it.
Since I am using only docker-compose.yml files I am not noticing any naming issues on the containers.

Thank you :-).

[2020-06-10 02:12] leighmcculloch commented on #35
Excellent. I'm going to close the issue. Anyone is welcome to reopen the issue if this is not addressed.

[2020-06-10 02:12] #35 closed

[2020-08-17 19:41] wstewarttennes opened #61 "Redirect docker-compose logs to vagrant stdout"
Haven't been able to figure this one out. When using docker-compose normally, an 'up' command shows the logs of each container running -- would love for the same thing to happen when using vagrant up here.

FYI This can be accomplished by running `vagrant ssh -c "docker-compose logs -f"`, but I think it'd be a nice feature to replicate this like the `docker-compose up` command does natively.

[2020-08-17 21:40] leighmcculloch commented on #61
By default the `up` command is executed with the `-d` option which means you don't get the logs. You can change this by setting the `command_options` parameter. See the config details here: https://github.com/leighmcculloch/vagrant-docker-compose#other-configs

I'll close the issue because this should solve your issue but please reopen if needed.

[2020-08-17 21:40] #61 closed, assigned to nobody

[2022-09-21 01:12] dmt0 opened #65 "docker-compose V2?"
This doesn't work with V2 any more. The download URL has changed, so it simply can't pull it.

[code]

With v2 the URL is `https://github.com/docker/compose/releases/download/v2.11.0/docker-compose-Linux-x86_64` (there's a `v` in the version. There are probably other issues.

If this project is dead, what's the standard way of provisioning docker compose these days?

[2022-11-11 12:22] EricKrg commented on #65
@dmt0
I stumbled across the same problem you described here and i figured out a workaround with only using tools provided by vagrant:

[code]

the config above should do the same as the plugin, at least it works for me. the install script installs the latest docker-compose version and the run scripts starts the containers on each `vagrant up`. The trigger ensures the correct stopping of the contai